.dark-primary-color      { background: #002984; }
.default-primary-color   { background: #3f51b5; }
.light-primary-color     { background: #757de8; }
.text-primary-color      { color: #aed681; }
.text-secondary-color    { color: #757de8; }
.default-secondary-color { background: #aed581; }
.dark-secondary-color    { background: #7da453; }
.light-secondary-color   { background: #e1ffb1; }
.primary-text-color      { color: #ffffff; }
.secondary-text-color    { color: #000000; }
.divider-color           { border-color: #BDBDBD; }
